*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

a {
    text-decoration: none;
}

body {
    position: relative;
    min-height: 100%;
    background: #0f171e;


}

html {
    height: 100%;

}
